<html>
<head>
    <title>ALOHA TABLE | Owner Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <link href="~/Style/fontawesome-all.min.css" rel="stylesheet" />
</head>
<body class="landing is-preload">
    <!-- Header -->
    <header id="header">
        <h3>Owner Page</h3>
    </header>
    <!-- Main -->
    @RenderBody()

    <!-- Footer -->
    <footer id="footer">

        <p>&copy; @DateTime.Now.Year - ALOHA TABLE.ASP.NET</p>
    </footer>

    <!-- End of Page Wrapper -->

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/breakpoints.min.js"></script>
    <script src="~/Scripts/browser.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/Main.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
