
@{
    ViewBag.Title = "About";
}

<!-- About Page -->

<article id="main">
    <section class="wrapper style5">
        <div class="inner">

            <h3>About Us</h3>
            <p>The restaurant has lanai where you can feel a fresh breeze, as well as the bar and table seating. You can enjoy local Hawaiian cuisine and a wide variety of dishes using local food. Especially popular is our "Premium Kobe Style Beef Loco Moco", with Hamburg steak using selected Kobe Beef and special mushroom & onion demiglace sauce</p>

            <p> Aloha Table is open until late at night, uncommon in Waikiki where most restaurants close early. Sit back and enjoy our bar time after dinner. Have fun with us in many ways; lunch, dinner or late-night dining</p>

            <hr />

            <h4>About Us</h4>
            <p>アロハテーブル本店は、ワイキキのメインストリート、カラカウア通りのDFSギャラリアの東側にあります。心地よい風を感じるラナイ、バー、テーブル席からなる空間。ハワイアンローカルフードをはじめ、地産の素材を使用した様々な料理が楽しめます。特に、厳選された神戸ビーフのハンバーグに、マッシュルームとオニオンのデミグラソースをかけたプレミアム・コーベスタイルビーフ・ロコモコが人気です</p>

            <p>ワイキキでは、ディナー営業が早く閉まってしまう店が多い中、貴重な深夜まで営業。ディナー後にも落ち着いてバータイムをお過ごしください。昼のランチから深夜まで様々な楽しみ方ができます。</p>

        </div>
    </section>
</article>


