
@{
    ViewBag.Title = "Contact";
}
<!-- Location & Contact Page -->


<!-- Location section -->
<article id="main">
    <section class="wrapper style5">
        <div class="inner">

            <h3>Aloha Table Waikiki</h3>
            <p>
                2238 Lau'ula St. Honolulu,Hawaii,96815<br />
                TEL：808-922-2221
            </p>
            <div class="ggmap"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3717.7876910380196!2d-157.828218!3d21.27987!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2975550cd6ebf105!2sALOHA%20TABLE%20Waikiki!5e0!3m2!1sen!2sus!4v1594312848246!5m2!1sen!2sus"></iframe></div>

        </div>
    </section>
</article>

<!-- Contact section -->
<section id="cta" class="wrapper style4" style="background-color:rgb(29, 36, 42)">
    <div class="inner">
        <section>
            <h4>Contact</h4>
            <form method="post" action="#">
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall">
                        <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
                    </div>
                    <div class="col-12">
                        <select name="demo-category" id="demo-category">
                            <option value="">- Category -</option>
                            <option value="1">General</option>
                            <option value="1">Food & Drink</option>
                            <option value="1">Service</option>
                            <option value="1">Facilities</option>
                            <option value="1">Tech</option>

                        </select>
                    </div>
                    <div class="col-12">
                        <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                    </div>
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="primary" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>
</section>


